doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script(src="/socket.io.js")
    script(src="/index.js")
    block css
      link(href='https://fonts.googleapis.com/css?family=Dosis:800|Lato:300,400' rel='stylesheet' type='text/css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
